@use '../../app/mixins.scss' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--main-white);
  max-width: 1200px;
  margin: 0 auto;

  @include respond-to('tablet') {
    padding: 12px 24px;
  }

  @include respond-to('mobile') {
    padding: 10px 16px;
  }

  &--logo-link {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      color: var(--primary-text);
    }

    @include respond-to('mobile') {
      gap: 6px;
    }
  }

  &--logo-icon {
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
    // background-color: var(--primary-bg);

    @include respond-to('mobile') {
      padding: 6px;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &--logo-text {
    font-size: var(--medium-size);
    font-weight: 600;

    @include respond-to('mobile') {
      font-size: var(--default-size);
    }
  }
}
