.contact-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--container {
    padding: 32px;
    background-color: var(--primary-text);
    border-radius: var(--border-radius);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .required {
    &::after {
      content: ' *';
      color: red;
    }
  }

  &--group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      font-size: 14px;
      font-weight: 700;
    }

    input,
    textarea {
      font-size: 14px;
      background-color: var(--primary-text);
      border-radius: var(--border-radius);
      border: 1px solid var(--border-color-1);
      padding: 8px 12px;

      &:focus {
        outline: none;
        border: 1px solid var(--icon-color-2);
      }
    }
  }

  &--user {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  &--error {
    color: var(--icon-color-4);
    font-size: 12px;
  }
}
