*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-text: #ffffff;
  --primary-dark: #000000;
  --text-grey: #6b7280;
  --primary-light-dark-color: #333;
  --text-foreground: #717182;
  --primary-bg: #a355a3;
  --secondary-bg: #707ae6;
  --footer-bg: #1f4872;
  --border-color-1: #cbced4;
  --border-color-2: #a1a1a1;
  --hover-color-1: #caedf9;
  --hover-color-2: #f1d6f2;
  --icon-color-1: #155dfc;
  --icon-color-2: #9333ea;
  --icon-color-3: #059669;
  --icon-color-4: #f54a00;
  --icon-color-5: #0092b8;
  --icon-color-6: #e7000b;
  --icon-color-7: #d08700;
  --gradient-1: #a9daf9;
  --gradient-2: #eabbee;
  --gradient-3: #9be3c7;
  --gradient-4: #fed7aa;
  --gradient-5: #cefafe;
  --gradient-6: #e60076;
  --gradient-7: #ffe2e2;
  --gradient-8: #fce7f3;
  --gradient-9: #fef9c2;

  /* sizes */
  --border-radius: 8px;
  --extra-small-size: 8px;
  --small-size: 12px;
  --default-size: 16px;
  --medium-size: 20px;
  --large-size: 24px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: var(--primary-light-dark-color);
}

body {
  margin: 0;
  /* font-family: var(--font-montserrat-alternates), sans-serif; */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  /* color: var(--colors-text);
  background-color: var(--colors-bg); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: var(--medium-size);
}
