*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-text: #ffffff;
  --primary-dark-text: #000000;
  --primary-bg: #a355a3;
  --secondary-bg: #707ae6;
  --hover-color: #faead2;

  /* sizes */
  --small-size: 8px;
  --default-size: 16px;
  --medium-size: 20px;
}

a {
  text-decoration: none;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: var(--font-montserrat-alternates), sans-serif;
  /* color: var(--colors-text);
  background-color: var(--colors-bg); */
}
