@use '../../app/mixins.scss' as *;

.page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  @include fade-in-down(0.5s);

  &--icon {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    transition: all 0.7s ease;
    @include flex-center;
    @include main-gradient;

    &:hover {
      transform: scale(1.1) rotate(360deg);
    }
  }

  &--text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 768px;

    h1 {
      color: var(--icon-color-2);
      font-size: 28px;
    }

    span {
      color: var(--text-foreground);
    }
  }

  &--default {
    color: var(--primary-text);
    background-color: var(--primary-text);
  }

  &--colored {
    color: var(--primary-light-dark-color);
    @include main-gradient;

    .page-info {
      &--text {
        h1,
        span {
          color: var(--primary-text);
        }
      }

      &--icon {
        color: var(--primary-text);
        background: color-mix(in oklab, var(--primary-text) 20%, transparent);
      }
    }
  }

  &--time {
    @include flex-center;
    gap: 8px;
  }
}
