@use '../../app/mixins.scss' as *;

.navigation {
  display: flex;
  align-items: center;

  &--link {
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      display: flex;
      align-items: center;
    }

    &--active {
      @include main-gradient;

      span {
        color: var(--primary-text);
      }
    }
  }

  &--header {
    gap: var(--default-size);

    @include respond-to('tablet') {
      display: none;
    }

    a {
      font-weight: 600;
      padding: 8px 12px;
      color: var(--secondary-bg);

      &:hover {
        background-color: var(--gradient-21);
        color: var(--primary-text);
      }
    }
  }

  &--footer {
    gap: 8px;

    @include respond-to('tablet') {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include respond-to('mobile') {
      gap: 4px;
    }

    a {
      color: var(--primary-text);
      padding: 4px 8px;
      font-size: 14px;

      @include respond-to('mobile') {
        font-size: 12px;
        padding: 4px 6px;
      }

      &:hover {
        background: var(--gradient-5);
      }
    }
  }
}
