.footer {
  background-color: var(--footer-bg);

  &--container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--copyright {
    font-weight: 600;
    color: var(--primary-text);
  }

  &--navigation {
    gap: 8px;

    a {
      color: var(--primary-text);
      transition: all 0.3s ease-in-out;
      padding: 4px 8px;
      font-size: 14px;

      &:hover {
        background: var(--gradient-5);
      }
    }
  }
}
