@use '../../app/mixins.scss' as *;

.copy-button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--primary-text);
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--default-size);
  font-weight: 600;

  @include respond-to('mobile') {
    gap: 6px;
    font-size: 14px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &--secondary {
    background-color: var(--primary-light-dark-color-50, rgba(51, 51, 51, 0.5));
    border-radius: var(--extra-small-size);
    padding: 4px 8px;

    @include respond-to('mobile') {
      padding: 3px 6px;
    }
  }
}
