@use '../../app/mixins.scss' as *;

.general-info {
  padding: 48px;
  background-color: var(--primary-text);
  border-radius: 16px;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include fade-in-left(0.8s);

  &--content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &--icon {
    @include flex-center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
  }

  &--description {
    color: var(--text-foreground);
  }

  &--action {
    @include flex-center;
  }
}
