@use '../../app/mixins.scss' as *;

.layout {
  min-height: 100vh;
  background: linear-gradient(
    to bottom right,
    var(--primary-bg) 0%,
    var(--secondary-bg) 100%
  );

  &-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px 24px 64px;

    @include respond-to('tablet') {
      padding: 24px 24px 48px;
    }

    @include respond-to('mobile') {
      padding: 16px 16px 40px;
    }
  }
}
