@use '../mixins.scss' as *;

.contacts-page {
  &--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    color: var(--primary-text);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--primary-text);

    &-icon {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      transition: all 0.7s ease;
      @include flex-center;
      @include main-gradient;

      &:hover {
        transform: scale(1.1) rotate(360deg);
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        color: var(--icon-color-2);
        font-size: var(--large-size);
      }

      span {
        color: var(--text-foreground);
      }
    }
  }

  &--methods {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-top: 32px;
  }

  &--info {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-details {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background-color: var(--primary-text);
      padding: 16px;
      border-radius: 8px;

      h3 {
        font-size: var(--medium-size);
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-icon {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      @include flex-center;
    }

    &-title {
      color: var(--text-foreground);
    }
  }

  .contacts-email {
    background-color: var(--gradient-1);
  }

  .contacts-phone {
    background-color: var(--gradient-2);
  }

  .contacts-address {
    background-color: var(--gradient-3);
  }

  &--working-hours {
    background-color: var(--primary-text);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-info {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &-time {
      display: flex;
      justify-content: space-between;

      span:first-child {
        color: var(--text-foreground);
      }
    }
  }
}
